*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Titillium Web', sans-serif;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70%;
    margin: 0 auto; 
}


.Titulo{    
    font-size: 5rem;
    font-weight: bold;
    color: black;
    text-align: center;
    margin-bottom: 2rem;
}

.formulario{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.select{
    height: 5rem;
    font-size: 2rem;
}

.boton{
    width: auto;
    height: 5rem;
    font-size: 2rem;
    padding: 5px;
}

#listaPokemon{
    width: 368px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.id{
    display: none;
}

.Contenedor_de_pokemon{
    display: flex;
    flex: 1;
    align-items: center;
    width: 100%;
    border-radius: 10px;
    justify-content: center;
    margin-top: 10px;
    background-color: #ccb7a8;
}

.Contenedor-botones{
    width: auto;
    justify-self: flex-end;
    margin-right: 15px;
}

.nombre_pokemon{
    font-size: 3rem;
    margin-top: 20px;
    font-weight: bold;
    flex: 1;
    color: black;
    padding: 15px;
    text-align: center;
    margin-bottom: 2rem;
}

.hidden{
    overflow: hidden;
}

.Contenedor_de_pokemon img {
    width: 145px;
    height: auto;
    border-radius: 10px;
}



/* MediaQuerie para menos de 320 pixeles */
@media screen and (max-width: 320px){
    .select{
        width: 80%;
    }
    option{
        font-size: 2rem;
    }
    #listaPokemon{
        margin-top: 15px;
        width: 265px;
    }
    .Contenedor_de_pokemon{
        margin-top: 15px;
        width: auto;
    }
    main{
        width: 100%;
    }
    .nombre_pokemon{
        font-size: 2rem;
    }
}